body {
   font-family: Verdana, Helvetica, sans-serif;
}

#signTag {
	display: flex;
	justify-content: space-between;
}

#posts {
	width: 80%;
    left: 10%;
    position: relative;
}

.post {
	text-align: center;
	padding: 10px;
	border: 1px solid black;
	margin-bottom:1px;
}

.title {
	text-align: left;
}

